/*
CSS for main images loaded in pages etc.
*/
/* 
    Created on : Sep 13, 2017, 2:05:35 PM
    Author     : natie
*/



@media (min-width: 480px){
}

@media (min-width: 768px){

}

@media (min-width: 992px){
    
    .parallax-content {

        padding: 0px 20px;
        margin: 0 auto;
        vertical-align:middle;
        text-align:center;
        height: 400px;

        h1 {
            color:$white;
            padding-top: 200px;
            text-shadow: 0 1px 0 #424242, 0 0 5px #424242;
        }

        p {
            font-size: 30px;
            color: #fff;
            text-shadow: 0 1px 0 #424242, 0 0 5px #424242;
            text-transform: uppercase;
        }
    }
    
    .parallax-content-2 {

        padding: 0px 20px;
        margin: 0 auto;
        vertical-align:middle;
        text-align:center;
        height: 400px;

        h1 {
            color:$white;
            padding-top: 80px;
            text-shadow: 0 1px 0 #424242, 0 0 5px #424242;
        }
        
        p {
            font-size: 18px;
            color: #fff;
            text-shadow: 0 1px 0 #424242, 0 0 5px #424242;
            margin-top: 40px;
        }
         
        .paralax-heading {
            font-size: 24px;
            color: #fff;
            text-shadow: 0 1px 0 #424242, 0 0 5px #424242;
            text-transform: uppercase;
        }
        
        
    }
    
    .sector-headings {
        position: absolute;
        top: 180px;
        padding-left: 55px;
    }

    sector-writing {
        position: absolute;
        top: 600px;
    }
    
    .background-img {
        text-align: center;
        position: relative;
        padding-top:388px;
    }
    
    .background-construction {
        background: url(../img/sector-construction.jpg) no-repeat center;
        background-attachment: fixed;
        background-size: 100%;
        background-position: top;
        
    }
    .background-engineering{
        background: url(../img/sector-engineering-main.jpg) no-repeat center;
        background-attachment: fixed;
        background-size: 100%;
        background-position: top;
    }
    .background-power {
        background: url(../img/sector-power-main.jpg) no-repeat center;
        background-attachment: fixed;
        background-size: 100%;
        background-position: top;
    }
    .background-mining {
        background: url(../img/pages-coal-cat-truck.jpg) no-repeat center;
        background-attachment: fixed;
        background-size: 100%;
        background-position: top;
    }

    .background-finance {
        background: url(../img/finance-front.jpg) no-repeat center;
        background-attachment: fixed;
        background-size: 100%;
        background-position: top;
    }

    .background-manufacturing {
        background: url(../img/sector-manufacturing-main.jpg) no-repeat center;
        background-attachment: fixed;
        background-size: 100%;
        background-position: top;
    }
    .background-front-construction {
        background: url(../img/sector-front-construction.jpg) no-repeat center;
        background-attachment: fixed;
        background-size: 100%;
        width: 100%;
        height: 600px;
        background-position: top;
    }
    .background-front-excavator {
        background: url(../img/front-excavator.jpg) no-repeat center;
        background-attachment: fixed;
        background-size: 100%;
        width: 100%;
        height: 600px;
        background-position: top;
    }
    
  .pages-coal-cat-truck {
        background: url(../img/pages-coal-cat-truck.jpg) no-repeat center;
        background-attachment: fixed;
        background-size: 100%;
        width: 100%;
        height: 600px;
        background-position: top;
    }
    
    
    
    
    
    .background-coal-mining {
        background: url(../img/pages-coal-mining-excavator.jpg) no-repeat center;
        background-attachment: fixed;
        background-size: 100%;
        width: 100%;
        height: 350px;
        background-position: top;
    }
    
    /*Candidates*/
        .background-job-hunting {
        background: url(../img/job-hunting-advice.jpg) no-repeat center;
        background-attachment: fixed;
        background-size: 100%;
        height: 350px;
        background-position: top;
        }
        .background-cv-writing {
        background: url(../img/candidate-cv-writing.jpg) no-repeat center;
        background-attachment: fixed;
        background-size: 100%;
        height: 350px;
        background-position: top;
    }
}

@media (min-width: 1200px){
    .background-img {
        padding-top: 700px;
    }
    .background-power {
        padding-top:500px;
    }
    .background-engineering {
        padding-top: 400px;
    }
    .background-finance {
        padding-top: 420px;
    }
    .background-manufacturing {
        padding-top: 460px;
    }
    .background-construction {
        padding-top: 550px;
    }
    .background-coal-mining {
        padding-top: 500px;
    }
    .background-job-hunting {
        padding-top: 500px;
    }
    .background-cv-writing {
        padding-top: 500px;
    }
    .sector-headings {
        top: 230px;
    }
}

@media (min-width: 1500px){
    .background-img {
        padding-top: 700px;
    }
    .background-power {
        padding-top:600px;
    }
    .background-engineering {
        padding-top: 500px;
    }
    .background-finance {
        padding-top: 520px;
    }
    .background-construction {
        padding-top: 650px;
    }
    .background-coal-mining {
        padding-top: 500px;
    }
    .background-job-hunting  {
        padding-top: 500px;
    }
    .background-cv-writing {
         padding-top: 500px;
    }
    .sector-headings {
        top: 230px;
    }
}