// Font Stuff
$base-font-family: 'Raleway', sans-serif;
$base-font-size: 16px;
$base-font-weight: 400;

$heading-font-family: 'Raleway', sans-serif;
$heading-font-weight: 300;

$nav-font-family: 'Lato', sans-serif;
$fixed-font-family :'Lato', sans-serif;
$fixed-font-size: 85%;
$fixed-line-height: 1.2;

// news - blog
$base-font-news-size: 12px;
$base-font-news-line-height: 1.2;

body {
  color: $text-color;
  font-size: $base-font-size;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  text-align: justify;
}

p {
    line-height: 29px;
}


// Headings and typography
h1,.h1 {
    font-weight: 200;
}


h1,h2,h3,.h1 {
    color: $grey-darker;
}
h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	font-family: $heading-font-family;
	font-weight: $heading-font-weight;
}

.heading-upper {
    text-transform: uppercase;
}

h1,h2{line-height: 1.4}
h3, h4 {line-height: 1.7;}

.h1, .h2 { line-height: 1.8; }
.h3, .h4 { line-height: 1.9; }
.h1 { font-size: 400%; letter-spacing: -2px; }
.h2 { font-size: 250%; letter-spacing: -1px; }
.h3 { font-size: 200%; }
.h4 { font-size: 180%; }
.h5 { font-size: 130%; }

.fixed { font-family: $fixed-font-family; font-size: $fixed-font-size; line-height: $fixed-line-height; }

.thin-heading {
	font-weight: 100;
}


.job-listing-title {
    line-height: 10px;
    margin-bottom: 0px;
    font-weight: 600;
    text-decoration: none;
}
.job-listing-description {
    font-style: italic;
    font-size: 11px;
    text-decoration: none;
}

.heading-underline {
    display: inline-block;
    border-bottom: 1px solid #8c8b8b;
    padding: 20px 0px;
    margin: 20px 0px;
}

.heading-underline-h3 {
    padding: 20px 0px 10px 0px;
    margin: 20px 0px;
}

.heading-overview {
    margin-bottom: 20px;
    font-size: 17px;
}

.paragraph {
    p {
        line-height: 29px;
        font-size: 16px;
/*        max-width: 480px;*/
    }
}

.quiet { color: $quiet-color; }
.small { font-size: 12px; }
.loud  { color: $loud-color; }

.italic { font-style: italic; }
.bold   { font-weight: 700;
             font-size: 400%;
}

.white {
    color: $white;
}

.block-margins { margin: 1em 0; }

.unordered-list { list-style-type: disc; }
.ordered-list { list-style: decimal; }

//  -------------------

@media (min-width: 768px){
    .bold {
        font-size: 350%;
    }

    .h1 {
        font-size: 250%
    }
    h3 {
        font-size: 20px;
    }
}

@media (min-width: 992px){
	body {
		font-size: 16px;
	}
}




